body {
    font-family: "Montserrat", sans-serif;
}
/* Logo */
.logo {
    width: 75px;
    height: 75px;
    margin-left: -20px;
}

.logoFont {
    padding: 10px;
    font-weight: bold;
    font-size: 1.4em;
    color: #808080;
}

.logoPlace {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* Header */
.header {
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #eee;
}

.header a {
    text-decoration: none;
}

.headerFixed {
    max-width: 1100px;
    position: fixed;
    width: 100%;
}

/* Footer */
.footer {
    background-color: #414141;
    color: #fff;
    font-size: 0.8em;
}

/* Section */
.section {
    height: 600px;
}

.sectionFont {
    color: #414141;
    font-size: 3em;
    align-items: center;
}

.isActive {
    height: 600px;
    background-color: #eee;
    animation: isActive 0.8s;
}

@keyframes isActive {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
        -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
        box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    }
}

/* Button go to top*/
#buttonTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid #aaa;
    background-color: #fff;
    color: #aaa;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

#buttonTop:hover {
    background-color: #a2185b;
}
